.card-body {
    background: #9fa9a3;
    border: solid rgb(100, 113, 100) 2px;
    size: 100px;;
}

.btn-info {
    background-color: #c5d5c5;
    border: solid rgb(204, 220, 204) 2px;
    /* padding: 14px 20px; */
    /* width: 100%; */
}

a:link {
    color: rgb(128, 140, 128);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(69, 83, 69);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(69, 83, 69);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(69, 83, 69);
    background-color: transparent;
    text-decoration: underline;
  }

  .text-danger {
    color: blue;
  }