/* .balance {
    background-color:#9fa9a3;
    height: 200px;
    width: 600px;
    text-align: center;
    color: rgb(105, 79, 79);
    padding: 10px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  
  form {
    background-color:#9fa9a3;
    height: 200px;
    width: 600px;
    text-align: center;
    color: rgb(105, 79, 79);
    padding: 10px;
    margin: 100px;
    border-radius: 5px;
  } */

