<div>
    <app-balance></app-balance>
</div>

<!-- <div class="balance">
    <div class="mb-3">
        <h4>My Balance:</h4>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-4">
            <input type="text"
                class="form-control"
                currencyMask
                onclick="this.select()"
                [(ngModel)]="currencyInput">
            <p class="text-center mt-5">Balance: {{currencyInput}}</p>
        </div>
    </div>
</div> -->
