<div class="centered-content">
<div class="container-fluid component_defaults">


<div class="col-8">
<div class="bottom-left-text">
<h4>How to Use:<br><br>
    1. Add a personal Earning or Spending.<br>
    2. Click Reports to see a comparison of your Earnings,  Spendings, and Total Balance.<br><br>
    All your data is stored in your browser's local storage, and is privatized.
</h4>


</div>
</div>



<div class="col-4">
    <div class = "video-container">
    <video autoplay loop muted>
        <source src="/assets/earning.mp4" type="video/mp4">
        <source src="/assets/earning.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
</div>

<div class="col-12">
    <div class = "safe-container">
        <img src="/assets/safe03.png" alt="safe" class="safe">
    </div>
</div>
