.card-body {
    background: #9fa9a3;
    border: solid rgb(137, 142, 137) 2px;
    border-radius: 5px;
    size: 200px;
    height: 500px;
}

.btn {
    background-color: #c5d5c5;
    border: solid rgb(204, 220, 204) 2px;
    margin: 0;
    position: absolute;
    top: 84%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#profile {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

a:link {
    color: rgb(128, 140, 128);
    background-color: transparent;
    text-decoration: none;
    margin: 0;
    position: absolute;
    top: 94%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  a:visited {
    color: rgb(69, 83, 69);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(69, 83, 69);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(69, 83, 69);
    background-color: transparent;
    text-decoration: underline;
  }

  