<h1>About Us</h1>
<div class=""myBalance>
    <div class="row mt-5">  
            <form>
                <div class="mb-3">
                    <h4><a href="https://github.com/lazarom37/mywalletangular.github.io">Github Source Code</a>
                    </h4>
                </div>

                <div class="mb-3">
                    <br> Original Pitch: <br>
                    <h4><br>My Wallet is an application for anyone of any age and occupation 
                        to manage their finances. <br>Users will manually enter their earnings and spendings and see immediate balance 
                        changes. <br>For users’ convenience, there will be two separate pages to manage their one-off and recurrent earnings
                         and spendings. <br>There will also be a report page where they can see analytics about their earnings and spendings
                          for a period of time. <br>My Wallet will have easy, intuitive navigation and user-friendly UI.</h4>
                </div>
            </form>

            <div class = "col-md-6">
                <form>
                    <h4>Team Members</h4>
                <div class="mb-3">
                    <h4>1. Viktoriia Morozova</h4>
                </div>
                <div class="mb-3">
                    <h4>2. Edward Matsyshen</h4>
                </div>
                <div class="mb-3">
                    <h4>3. Marcus Lazaro</h4>
                </div>
                </form>
        </div>
    </div>