<h1>About Our Application</h1>
<div class=""myBalance>
    <div class="row mt-5">  
        <div class="card-shadow">
            <div class="card-body">
            <form>
                <div class="mb-3">
                    <h4>My Wallet is an application for anyone of any age and occupation 
                        to manage their finances. Users will manually enter their earnings and spendings and see immediate balance 
                        changes. For users’ convenience, there will be two separate pages to manage their one-off and recurrent earnings
                         and spendings. There will also be a report page where they can see analytics about their earnings and spendings
                          for a period of time. My Wallet will have easy, intuitive navigation and user-friendly UI. We will store customer 
                          data in MongoDB. Please see further slides for more information about the targeted audience and functionality.</h4>
                </div>
            </form>
        </div>
    </div>
</div>
</div>