<div class="add-paying-modal">
    <h1 class="add-paying-modal-title" mat-dialog-title>Add new payment</h1>
    <div mat-dialog-content>
      <form>
        <label class="add-paying-modal-label">Name</label>
        <input class="add-paying-modal-input" matInput placeholder="" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.name" />
        <br />
        <label class="add-paying-modal-label">Amount</label>
        <input class="add-paying-modal-input" matInput type="number" placeholder="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.amount" />
        <br />
        <label class="add-paying-modal-label">Date</label>
        <input class="add-paying-modal-input" matInput type="datetime-local" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.beginDate" />
        <br />
        <label class="add-paying-modal-label">Recurrence</label>
        <select class="add-paying-modal-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.recurrence">
          <option value="oneoff" selected="selected">One Off</option>
          <option value="daily">Daily</option>
          <option value="weekly">Weekly</option>
          <option value="monthly">Monthly</option>
          <option value="annually">Annually</option>
        </select>
      </form>
    </div>
    <div class="add-paying-modal-buttons" mat-dialog-actions>
      <button mat-button (click)="this.onAddClick()" mat-dialog-close cdkFocusInitial>Add</button>
      <button mat-button (click)="this.onCancelClick()" mat-dialog-close>Cancel</button>
    </div>
  </div>
  