.add_earning_modal {
  background-color: #e3e0cc;
  color: rgb(105, 79, 79);
  border: solid #bcb9a3 2px;
  border-radius: 5px;
}

.text-right-align {
  text-align: right;
}

h1 {
  text-align: center;
}